<% if (locals.restaurant.length > 0) { %>
<div class="pegination-container">
  <% if (currentPage > 1) { %>
  <a
    class="anchor-btn"
    href="/api/restaurant/search?restaurantCity=<%= restaurantCity %>&restaurantName=<%= restaurantName  %>&page=<%= currentPage - 1 %>"
    >Previous</a
  >
  <% } %> Page <%= currentPage %> of <%= totalPages %> <% if (currentPage <
  totalPages) { %>
  <a
    class="anchor-btn"
    href="/api/restaurant/search?restaurantCity=<%= restaurantCity %>&restaurantName=<%= restaurantName  %>&page=<%= currentPage + 1 %>"
    >Next</a
  >
  <% } %>         
</div>
<% } %>
